body {
  font-family: sans-serif;
  padding: 0 20px;
}

.img-positioning {
  display: block;
  margin: 30px auto;
  width: 75%;
}
h1 {
  text-align: center;
  font-weight: 900;
  margin: 0;
  font-size: 34px;
  line-height: 48px;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  margin: 30px auto;
  width: 150px;
}
h1,
h2,
h3 {
  color: #231d3c;
}
.emojis .first {
  position: relative;
  top: -20px;
}
.emojis .second {
  position: relative;
  left: -20px;
}

.emojis .third {
  position: relative;
  left: -40px;
  top: 20px;
}
.cities {
  top: 0;
  position: fixed;
  right: 0;
  background: #fff;
  padding: 20px;
}
.emojis {
  position: relative;
}

first {
  top: 0;
  left: 0;
}

second {
  top: 20px;
  left: 0;
}

third {
  top: 40px;
  left: 0;
}
